[user]
	name = Nithin Nayak Sujir
	email = nsujir@tintri.com
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
[push]
	default = current
[credential]
	helper = cache --timeout=999999
[include]
	path = /auto/hg/git/config
[sendemail]
	smtpserver=outlook.office365.com
	smtpencryption=tls
	smtpuser=nsujir@tintri.com
