*.o
*.rej
*.orig
*.log
*.msg
*.sources
*.pyc
*.d
*.mod
*.out
*.swp
*.unsigned
*.sig
*.digest
*.swo
*.order
*.swn
*.cmd
*.symvers
*.ko
*.mod.c
*.if
patches
tags
*.tgz
*.gz
*.tmp
random_seed
modnames
*.so
*.dbg
vmlinux
.tmp_*
System.map
*.bin
*.a
*.old
.config
doxy.cfg
.fufcache
cscope.files
*.patch
*.diff
.gvimrc_
rmins.sh
*.class
*.zip
*.drjava
