set completion-ignore-case on

set editing-mode vi
$if mode=vi
	set keymap vi-command
	"gg": beginning-of-history
	"G": end-of-history
	set keymap vi-insert
	Control-l: clear-screen
	Control-a: beginning-of-line
	"fj": vi-movement-mode # remap escape
$endif
